Repository apedroferreira/typeahead-demo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint, prettier --write

Styles setup
  package.json
  public/index.html
  src/App.tsx
  src/common/globalStyles.ts
  src/react-app-env.d.ts
  src/utils/styleUtils.ts
  yarn.lock
Due: eslint --fix, stylelint, prettier --write

Typeahead input demo
  .eslintrc
  public/index.html
  public/manifest.json
  src/App.test.tsx
  src/App.tsx
  src/common/constants.ts
  src/common/globalStyles.ts
  src/components/TypeAheadInput.tsx
  src/components/icons/CloseIcon.tsx
  src/context/formContext.ts
  src/data/fruits.json
  src/react-app-env.d.ts
  src/utils/keyboardUtils.ts
  src/utils/styleUtils.ts
  tsconfig.json
Due: eslint --fix, stylelint, prettier --write

Change README title
  README.md
Due: prettier --write

Adjust global styles types
  package.json
  src/common/globalStyles.ts
Due: eslint --fix, stylelint, prettier --write

Downgrade husky
  package.json
  yarn.lock
Due: prettier --write

Separate type definitions
  src/react-app-env.d.ts
  src/types/styled-components.d.ts
Due: eslint --fix, stylelint

Remove duplicate data
  src/data/fruits.json
Due: prettier --write

Quick refactor in case someone comes take a look
  .eslintrc
  .vscode/settings.json
  src/App.styles.ts
  src/App.test.tsx
  src/App.tsx
  src/components/TypeAheadInput/TypeAheadInput.styles.ts
  src/components/TypeAheadInput/TypeAheadInput.tsx
  src/components/TypeAheadInput/index.ts
Due: eslint --fix, stylelint, prettier --write

Fix spacing and styles
  src/App.test.tsx
  src/components/TypeAheadInput/TypeAheadInput.styles.ts
Due: eslint --fix, stylelint

Path conditions:
  eslint --fix: any of: *.{js,ts}
  stylelint: any of: *.{js,ts}
  prettier --write: any of: *.{json,md}
